.card-img-top {
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: rgb(17, 53, 121);
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
}

.btn-primary:hover {
  background-color: rgb(17, 53, 121)
}
.btn-custom {
  color: rgb(17, 53, 121);
  border: 1px solid rgb(17, 53, 121);
  
  padding: 8px 20px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: rgb(17, 53, 121);
  color: #fff; /* text color white on hover */
  border-color: rgb(17, 53, 121);
}
