<div class="container mt-5">

  <!-- hero section -->
  <div class="row p-5 d-flex justify-content-center align-items-center" style="background-color: rgb(17, 53, 121);">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <h1 class="text-light">The easiest way <br> 
        To Find Your <br>
        Favourite Products
      </h1>
      <p class="text-light mt-4">
        Discover 100+ products at your fingertips — helping you find the best items in the easiest way.
      </p>
     <button class="btn custom-btn mt-4" routerLink="/product">Explore Products</button>

    </div>
    <div class="col-md-6">
      <img src="photo.png" alt="no image" class="landingImg w-100 mt-4">
    </div>
  </div>

<!-- products -->
<div class="row my-5">
  <h1 style="color: rgb(17, 53, 121);">Trending Products of the Month</h1>
  <div class="d-flex justify-content-between">
    <p style="color: rgb(17, 53, 121);">Our most popular product of the week</p>
    <a routerLink="/product">View All</a>
  </div>

<div class="row mt-4">
  <div class="col-md-3 product-card">
    <img src="shirt.jpg" alt="Shirt" width="100%">
    <h5 class="text-center mt-3" style="color: rgb(17, 53, 121);">Shirt</h5>
  </div>
  <div class="col-md-3 product-card">
    <img src="bangle.jpg" alt="Bangle" width="100%">
    <h5 class="text-center mt-3" style="color: rgb(17, 53, 121);">Bangle</h5>
  </div>
  <div class="col-md-3 product-card">
    <img src="lipstick.avif" alt="Lipstick" width="100%">
    <h5 class="text-center mt-3" style="color: rgb(17, 53, 121);">Lipstick</h5>
  </div>
  <div class="col-md-3 product-card">
    <img src="cam.jpg" alt="Home Appliance" width="100%">
    <h5 class="text-center mt-5" style="color: rgb(17, 53, 121);">Camera</h5>
  </div>
</div>


</div>

 <!-- banner (fixed width to container) -->
<div class="row p-5 position-relative"
     style="background-image: url('https://images.macrumors.com/t/qjNobPltTZTcfakOxB4BKs9DFto=/1600x0/article-new/2025/06/apple-beta-26-lineup.jpg');
            background-size: cover; background-position: center; overflow: hidden;">

  <!-- lighter dark-blue transparent overlay -->
  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;
              background-color: rgba(0, 32, 96, 0.4); z-index: 0;"></div>

  <div class="col-md-6 d-flex align-items-center" style="z-index: 1;">
    <div class="bg-light p-5 shadow-lg w-100"
         style="box-shadow: 0 12px 35px rgba(0, 0, 0, 0.7) !important;">
      <h3 style="color: rgb(17, 53, 121);">Discover 100+ Products at Your Fingertips</h3>
      <p class="text-secondary mt-3 mb-0" style="color: rgb(17, 53, 121);">
        Explore a wide range of items that make shopping simple, smart, and effortless.
      </p>
    </div>
  </div>

  <div class="col-md-6"></div>
</div>


</div>
